<!DOCTYPE html>
<html lang="en-US">

<head>
   <title>Home - Feonix </title>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta name="author" content="Ram Enjam" />
   <meta name="description" content="Feonix Website" />
   <link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">

   <link href='https://fonts.googleapis.com/css?family=Jost' rel='stylesheet'>

   <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
   <link rel="stylesheet" type="text/css" href="assets/css/responsive-styles.css">
</head>

<body>
   <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light top-nav">
         <a class="navbar-brand" href="#"><img class="company-logo"
               src="https://www.feonix.in/public/uploads/all/h5pbW058jDMazClmyB3MYgnxYr76ypvI4oY7pShz.svg"></a>

         <div class="ml-auto">
            <ul class="navbar-nav">
               <li class="nav-item active">
                  <a class="nav-link" href="#"><span class="mobile-hide">Wishlist</span> <i
                        class="far fa-heart"></i></span></a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="#"><span class="mobile-hide">Cart</span> <i
                        class="fas fa-shopping-cart"></i></a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="#"><span class="mobile-hide">Logout</span> <i class="far fa-user"></i></a>
               </li>
            </ul>
         </div>
      </nav>
      <nav class="navbar navbar-expand-lg navbar-light pink second-nav">

         <!-- Collapse button -->
         <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-align-left"></i>
            <i class="fas fa-times"></i>
         </button>
         <!-- Collapsible content -->
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
               <li class="nav-item active">
                  <a class="nav-link" href="index.html">Home</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="men.html">Men</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="women.html">Women</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="kids.html">Kids</a>
               </li>
            </ul>
            <!-- Links -->
            <!-- Search form -->

         </div>
         <form class="form-inline md-form mb-0 md-mb-5 search-container">
            <input class="form-control font-bold ml-auto" type="text" placeholder="Search" aria-label="Search">
            <i class="fa fa-search" aria-hidden="true"></i>
         </form>
         <!-- Collapsible content -->
      </nav>
   </header>
   <main>
      <!-- <div class="container-fluid"> -->
      <section class="world_trend">
         <div class="row m-0">
            <div class="col-xl-2 col-lg-3 col-12 pr-0 pl-4 fashan-wrapper">
               <ul class="nav nav-pills" id="pills-tab" role="tablist">
                  <li class="nav-item" role="presentation">
                     <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                        aria-controls="pills-home" aria-selected="true">MEN</a>
                  </li>
                  <li class="nav-item" role="presentation">
                     <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-home" role="tab"
                        aria-controls="pills-profile" aria-selected="false">WOMEN</a>
                  </li>
                  <li class="nav-item" role="presentation">
                     <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-home" role="tab"
                        aria-controls="pills-contact" aria-selected="false">KIDS</a>
                  </li>
               </ul>
               <div class="tab-content" id="pills-tabContent">
                  <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                     aria-labelledby="pills-home-tab">
                     <div class="item_one">
                        <ul>
                           <li><a href="javascript:;">CASUAL WEAR</a></li>
                           <li><a href="javascript:;">FORMAL SHIRTS</a></li>
                           <li><a href="javascript:;">T-SHIRTS</a></li>
                           <li><a href="javascript:;">SWEATSHIRTS</a></li>
                           <li><a href="javascript:;">JACKETS</a></li>
                           <li><a href="javascript:;">BLAZERS & COATS</a></li>
                           <li><a href="javascript:;">KURTAS & SHERWANIS</a></li>
                        </ul>
                     </div>

                     <div class="item_one">
                        <ul>
                           <li><a href="javascript:;">JEANS</a></li>
                           <li><a href="javascript:;">CASUAL TROUSERS</a></li>
                           <li><a href="javascript:;">FORMAL TROUSERS</a></li>
                           <li><a href="javascript:;">SHORTS & BOXERS</a></li>
                           <li><a href="javascript:;">TRACKS & JOGGERS</a></li>
                        </ul>
                     </div>

                     <div class="item_one">
                        <ul>
                           <li><a href="javascript:;">VESTS</a></li>
                           <li><a href="javascript:;">BRIEFS & TRUNKS</a></li>
                           <li><a href="javascript:;">THERMALS</a></li>
                           <li><a href="javascript:;">SLEAPWEAR & LOUNGEWEAR</a></li>
                           <li><a href="javascript:;">BOXERS</a></li>
                        </ul>
                     </div>

                     <div class="item_one">
                        <ul>
                           <li><a href="javascript:;">CASUAL SHOES</a></li>
                           <li><a href="javascript:;"> FORMAL SHOES</a></li>
                           <li><a href="javascript:;"> SNEAKERS</a></li>
                           <li><a href="javascript:;"> SANDALS & FLOAERS</a></li>
                           <li><a href="javascript:;">FLIP FLOPS</a></li>
                           <li><a href="javascript:;">SOCKS</a></li>
                        </ul>
                     </div>



                     <div class="item_one">
                        <ul>
                           <li><a href="javascript:;">WATCHES</a></li>
                        </ul>
                     </div>

                     <div class="item_one">
                        <ul>
                           <li><a href="javascript:;">SUNGLASSES</a></li>
                        </ul>
                     </div>

                     <div class="item_one">
                        <ul>
                           <li><a href="javascript:;">PERSONAL CARE</a></li>
                        </ul>
                     </div>


                     <div class="rages_field">
                        <h3>SET PRICE RANGE </h3>
                        <form>
                           <div class="form-group">
                              <input type="range" class="form-control-range" id="formControlRange">
                           </div>
                        </form>
                     </div>

                     <div class="choose_color">
                        <h3>CHOOSE COLOR</h3>
                        <div class="color_wrapper">
                           <input type="radio" name="color" id="red" value="red" />
                           <label for="red"><span class="red"></span></label>

                           <input type="radio" name="color" id="green" />
                           <label for="green"><span class="green"></span></label>

                           <input type="radio" name="color" id="yellow" />
                           <label for="yellow"><span class="yellow"></span></label>

                           <input type="radio" name="color" id="olive" />
                           <label for="olive"><span class="olive"></span></label>

                           <input type="radio" name="color" id="orange" />
                           <label for="orange"><span class="orange"></span></label>

                           <input type="radio" name="color" id="teal" />
                           <label for="teal"><span class="teal"></span></label>

                           <input type="radio" name="color" id="blue" />
                           <label for="blue"><span class="blue"></span></label>

                           <input type="radio" name="color" id="violet" />
                           <label for="violet"><span class="violet"></span></label>

                           <input type="radio" name="color" id="purple" />
                           <label for="purple"><span class="purple"></span></label>

                           <input type="radio" name="color" id="pink" />
                           <label for="pink"><span class="pink"></span></label>

                           <input type="radio" name="color" id="teal1" />
                           <label for="teal1"><span class="teal"></span></label>

                           <input type="radio" name="color" id="blue1" />
                           <label for="blue1"><span class="blue"></span></label>

                           <input type="radio" name="color" id="violet1" />
                           <label for="violet1"><span class="violet"></span></label>

                           <input type="radio" name="color" id="purple1" />
                           <label for="purple1"><span class="purple"></span></label>

                           <input type="radio" name="color" id="pink1" />
                           <label for="pink1"><span class="pink"></span></label>
                        </div>
                     </div>


                     <div class="select_size">
                        <h3>SELECT SIZE</h3>

                        <div class="custom-radio-wrap">
                           <form>
                              <div class="form-group">
                                 <input id="html" type="radio" name="custom-radio-btn">
                                 <label class="custom-radio" for="html"></label>
                                 <span class="label-text">XS</span>
                              </div>
                              <div class="form-group">
                                 <input id="css" type="radio" name="custom-radio-btn">
                                 <label class="custom-radio" for="css"></label>
                                 <span class="label-text">S</span>
                              </div>
                              <div class="form-group">
                                 <input id="js" type="radio" name="custom-radio-btn">
                                 <label class="custom-radio" for="js"></label>
                                 <span class="label-text">M</span>
                              </div>
                              <div class="form-group">
                                 <input id="L" type="radio" name="custom-radio-btn">
                                 <label class="custom-radio" for="L"></label>
                                 <span class="label-text">L</span>
                              </div>

                              <div class="form-group">
                                 <input id="xl" type="radio" name="custom-radio-btn">
                                 <label class="custom-radio" for="xl"></label>
                                 <span class="label-text">XL</span>
                              </div>
                              <div class="form-group">
                                 <input id="xxl" type="radio" name="custom-radio-btn">
                                 <label class="custom-radio" for="xxl"></label>
                                 <span class="label-text">XXL</span>
                              </div>
                              <div class="form-group">
                                 <input id="xxxl" type="radio" name="custom-radio-btn">
                                 <label class="custom-radio" for="xxxl"></label>
                                 <span class="label-text">XXXL</span>
                              </div>
                           </form>
                        </div>


                     </div>

                  </div>

                  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...
                  </div>
                  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...
                  </div>
               </div>
            </div>
            <div class="col-xl-10 col-lg-9 col-12 p-0">
               <div class="navigation">
                  <div class="ul">
                     <li class="active"><a href="javascript:;"></a>Home</li>
                     <li>/</li>
                     <li><a href="javascript:;"></a>Men</li>
                  </div>
                  <div class="brand_start">
                     <div class="wrapper_brand">
                        <h6>Brands</h6>
                        <select class="custom-select">
                           <option selected>All Brands</option>
                           <option value="1">One</option>
                           <option value="2">Two</option>
                           <option value="3">Three</option>
                        </select>
                        <i class="fas fa-chevron-down"></i>
                     </div>
                     <div class="wrapper_brand">
                        <h6>Sort by</h6>
                        <select class="custom-select">
                           <option selected>Newest</option>
                           <option value="1">One</option>
                           <option value="2">Two</option>
                           <option value="3">Three</option>
                        </select>
                        <i class="fas fa-chevron-down"></i>
                     </div>

                  </div>
               </div>
               <div>
                  <div class="card_wrapper responsive row m-0 p-3">
                     <div class="col-md-6 col-lg-3 col-12">
                        <div class="card">
                           <div class="card_img">
                              <img class="card-img-top"
                                 src="https://demo.activeitzone.com/ecommerce/public/uploads/all/J1k1qLmMRXZhl4KM9avZghk7GUona5dJosTtTW5k.jpg"
                                 alt="Card image cap">
                           </div>
                           <div class="card-body">
                              <div class="card_header">
                                 <h5>Lorem ipsum</h5>
                              </div>
                              <div class="card-footer">
                                 <p>Sed magna mi feugiat vitae</p>
                                 <p><span>Rs163</span> </p>
                                 <div class="ratings">
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="far fa-star"></span>
                                 </div>

                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-lg-3 col-12">
                        <div class="card">
                           <div class="card_img">
                              <img class="card-img-top"
                                 src="https://demo.activeitzone.com/ecommerce/public/uploads/all/sCOuGJ9Gbzx2yupQJma5jZ7xv8ulRLg6uDKIN8nM.jpg"
                                 alt="Card image cap">
                           </div>
                           <div class="card-body">
                              <div class="card_header">
                                 <h5>Lorem ipsum</h5>
                              </div>
                              <div class="card-footer">
                                 <p>Sed magna mi feugiat vitae</p>
                                 <p><span>Rs163</span> </p>
                                 <div class="ratings">
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="far fa-star"></span>
                                 </div>

                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-lg-3 col-12">
                        <div class="card">
                           <div class="card_img">
                              <img class="card-img-top"
                                 src="https://demo.activeitzone.com/ecommerce/public/uploads/all/HtrAJIqvMdMIKwAZ879u602nCIOWqRmZEmDlD5E4.jpg"
                                 alt="Card image cap">
                           </div>
                           <div class="card-body">
                              <div class="card_header">
                                 <h5>Lorem ipsum</h5>
                              </div>
                              <div class="card-footer">
                                 <p>Sed magna mi feugiat vitae</p>
                                 <p><span>Rs163</span> </p>
                                 <div class="ratings">
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="far fa-star"></span>
                                 </div>

                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-lg-3 col-12">
                        <div class="card">
                           <div class="card_img">
                              <img class="card-img-top"
                                 src="https://demo.activeitzone.com/ecommerce/public/uploads/all/swCZ0mlGq068QGbLuAJa9OMxIFp3ZVY11IDNrAnv.jpg"
                                 alt="Card image cap">
                           </div>
                           <div class="card-body">
                              <div class="card_header">
                                 <h5>Lorem ipsum</h5>
                              </div>
                              <div class="card-footer">
                                 <p>Sed magna mi feugiat vitae</p>
                                 <p><span>Rs163</span> </p>
                                 <div class="ratings">
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="far fa-star"></span>
                                 </div>

                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div>
                  <div class="card_wrapper responsive row m-0 p-3">
                     <div class="col-md-6 col-lg-3 col-12">
                        <div class="card">
                           <div class="card_img">
                              <img class="card-img-top"
                                 src="https://demo.activeitzone.com/ecommerce/public/uploads/all/J1k1qLmMRXZhl4KM9avZghk7GUona5dJosTtTW5k.jpg"
                                 alt="Card image cap">
                           </div>
                           <div class="card-body">
                              <div class="card_header">
                                 <h5>Lorem ipsum</h5>
                              </div>
                              <div class="card-footer">
                                 <p>Sed magna mi feugiat vitae</p>
                                 <p><span>Rs163</span> </p>
                                 <div class="ratings">
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="far fa-star"></span>
                                 </div>

                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-lg-3 col-12">
                        <div class="card">
                           <div class="card_img">
                              <img class="card-img-top"
                                 src="https://demo.activeitzone.com/ecommerce/public/uploads/all/sCOuGJ9Gbzx2yupQJma5jZ7xv8ulRLg6uDKIN8nM.jpg"
                                 alt="Card image cap">
                           </div>
                           <div class="card-body">
                              <div class="card_header">
                                 <h5>Lorem ipsum</h5>
                              </div>
                              <div class="card-footer">
                                 <p>Sed magna mi feugiat vitae</p>
                                 <p><span>Rs163</span> </p>
                                 <div class="ratings">
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="far fa-star"></span>
                                 </div>

                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-lg-3 col-12">
                        <div class="card">
                           <div class="card_img">
                              <img class="card-img-top"
                                 src="https://demo.activeitzone.com/ecommerce/public/uploads/all/HtrAJIqvMdMIKwAZ879u602nCIOWqRmZEmDlD5E4.jpg"
                                 alt="Card image cap">
                           </div>
                           <div class="card-body">
                              <div class="card_header">
                                 <h5>Lorem ipsum</h5>
                              </div>
                              <div class="card-footer">
                                 <p>Sed magna mi feugiat vitae</p>
                                 <p><span>Rs163</span> </p>
                                 <div class="ratings">
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="far fa-star"></span>
                                 </div>

                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-lg-3 col-12">
                        <div class="card">
                           <div class="card_img">
                              <img class="card-img-top"
                                 src="https://demo.activeitzone.com/ecommerce/public/uploads/all/swCZ0mlGq068QGbLuAJa9OMxIFp3ZVY11IDNrAnv.jpg"
                                 alt="Card image cap">
                           </div>
                           <div class="card-body">
                              <div class="card_header">
                                 <h5>Lorem ipsum</h5>
                              </div>
                              <div class="card-footer">
                                 <p>Sed magna mi feugiat vitae</p>
                                 <p><span>Rs163</span> </p>
                                 <div class="ratings">
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="far fa-star"></span>
                                 </div>

                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div>
                  <div class="card_wrapper responsive row m-0 p-3">
                     <div class="col-md-6 col-lg-3 col-12">
                        <div class="card">
                           <div class="card_img">
                              <img class="card-img-top"
                                 src="https://demo.activeitzone.com/ecommerce/public/uploads/all/J1k1qLmMRXZhl4KM9avZghk7GUona5dJosTtTW5k.jpg"
                                 alt="Card image cap">
                           </div>
                           <div class="card-body">
                              <div class="card_header">
                                 <h5>Lorem ipsum</h5>
                              </div>
                              <div class="card-footer">
                                 <p>Sed magna mi feugiat vitae</p>
                                 <p><span>Rs163</span> </p>
                                 <div class="ratings">
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="far fa-star"></span>
                                 </div>

                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-lg-3 col-12">
                        <div class="card">
                           <div class="card_img">
                              <img class="card-img-top"
                                 src="https://demo.activeitzone.com/ecommerce/public/uploads/all/sCOuGJ9Gbzx2yupQJma5jZ7xv8ulRLg6uDKIN8nM.jpg"
                                 alt="Card image cap">
                           </div>
                           <div class="card-body">
                              <div class="card_header">
                                 <h5>Lorem ipsum</h5>
                              </div>
                              <div class="card-footer">
                                 <p>Sed magna mi feugiat vitae</p>
                                 <p><span>Rs163</span> </p>
                                 <div class="ratings">
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="far fa-star"></span>
                                 </div>

                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-lg-3 col-12">
                        <div class="card">
                           <div class="card_img">
                              <img class="card-img-top"
                                 src="https://demo.activeitzone.com/ecommerce/public/uploads/all/HtrAJIqvMdMIKwAZ879u602nCIOWqRmZEmDlD5E4.jpg"
                                 alt="Card image cap">
                           </div>
                           <div class="card-body">
                              <div class="card_header">
                                 <h5>Lorem ipsum</h5>
                              </div>
                              <div class="card-footer">
                                 <p>Sed magna mi feugiat vitae</p>
                                 <p><span>Rs163</span> </p>
                                 <div class="ratings">
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="far fa-star"></span>
                                 </div>

                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-lg-3 col-12">
                        <div class="card">
                           <div class="card_img">
                              <img class="card-img-top"
                                 src="https://demo.activeitzone.com/ecommerce/public/uploads/all/swCZ0mlGq068QGbLuAJa9OMxIFp3ZVY11IDNrAnv.jpg"
                                 alt="Card image cap">
                           </div>
                           <div class="card-body">
                              <div class="card_header">
                                 <h5>Lorem ipsum</h5>
                              </div>
                              <div class="card-footer">
                                 <p>Sed magna mi feugiat vitae</p>
                                 <p><span>Rs163</span> </p>
                                 <div class="ratings">
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="far fa-star"></span>
                                 </div>

                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div>
                  <div class="card_wrapper responsive row m-0 p-3">
                     <div class="col-md-6 col-lg-3 col-12">
                        <div class="card">
                           <div class="card_img">
                              <img class="card-img-top"
                                 src="https://demo.activeitzone.com/ecommerce/public/uploads/all/J1k1qLmMRXZhl4KM9avZghk7GUona5dJosTtTW5k.jpg"
                                 alt="Card image cap">
                           </div>
                           <div class="card-body">
                              <div class="card_header">
                                 <h5>Lorem ipsum</h5>
                              </div>
                              <div class="card-footer">
                                 <p>Sed magna mi feugiat vitae</p>
                                 <p><span>Rs163</span> </p>
                                 <div class="ratings">
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="far fa-star"></span>
                                 </div>

                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-lg-3 col-12">
                        <div class="card">
                           <div class="card_img">
                              <img class="card-img-top"
                                 src="https://demo.activeitzone.com/ecommerce/public/uploads/all/sCOuGJ9Gbzx2yupQJma5jZ7xv8ulRLg6uDKIN8nM.jpg"
                                 alt="Card image cap">
                           </div>
                           <div class="card-body">
                              <div class="card_header">
                                 <h5>Lorem ipsum</h5>
                              </div>
                              <div class="card-footer">
                                 <p>Sed magna mi feugiat vitae</p>
                                 <p><span>Rs163</span> </p>
                                 <div class="ratings">
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="far fa-star"></span>
                                 </div>

                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-lg-3 col-12">
                        <div class="card">
                           <div class="card_img">
                              <img class="card-img-top"
                                 src="https://demo.activeitzone.com/ecommerce/public/uploads/all/HtrAJIqvMdMIKwAZ879u602nCIOWqRmZEmDlD5E4.jpg"
                                 alt="Card image cap">
                           </div>
                           <div class="card-body">
                              <div class="card_header">
                                 <h5>Lorem ipsum</h5>
                              </div>
                              <div class="card-footer">
                                 <p>Sed magna mi feugiat vitae</p>
                                 <p><span>Rs163</span> </p>
                                 <div class="ratings">
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="far fa-star"></span>
                                 </div>

                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-lg-3 col-12">
                        <div class="card">
                           <div class="card_img">
                              <img class="card-img-top"
                                 src="https://demo.activeitzone.com/ecommerce/public/uploads/all/swCZ0mlGq068QGbLuAJa9OMxIFp3ZVY11IDNrAnv.jpg"
                                 alt="Card image cap">
                           </div>
                           <div class="card-body">
                              <div class="card_header">
                                 <h5>Lorem ipsum</h5>
                              </div>
                              <div class="card-footer">
                                 <p>Sed magna mi feugiat vitae</p>
                                 <p><span>Rs163</span> </p>
                                 <div class="ratings">
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="far fa-star"></span>
                                 </div>

                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>



      <div class="pagination_start">
         <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center align-items-center">
               <li class="page-item">
                  <a class="page-link left-arrow" href="#" tabindex="-1" aria-disabled="true"><i
                        class="fas fa-chevron-left"></i></a>
               </li>
               <div class="page_wrapper d-flex">
                  <li class="page-item "><a class="page-link active" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item"><a class="page-link" href="#">5</a></li>
                  <li class="page-item"><a class="page-link" href="#">.</a></li>
                  <li class="page-item"><a class="page-link" href="#">.</a></li>
                  <li class="page-item"><a class="page-link" href="#">.</a></li>
                  <li class="page-item"><a class="page-link" href="#">15</a></li>
               </div>
               <li class="page-item">
                  <a class="page-link right_arrow" href="#"><i class="fas fa-chevron-right"></i></a>
               </li>
            </ul>
         </nav>
      </div>




      <!-- </div> -->


      <footer>
         <div class="container-fluid">
             <div class="row m-0">
                 <div class="col-md-3 col-12 sub_footer">
                      <div class="footer_logo">
                          <a href="javasript:;">
                              <img src="assets/images/drivelog.png" alt="">
                          </a>
                      </div>
                      <div class="app">
                          <h6>Download Our Mobile app And Enjoy</h6>
                          <div class="google_app">
                              <img src="assets/images/google-store.png" alt="">
                          </div>
                          <div class="subscribe">
                              <h6 style="margin-bottom: 5px;">Subscribe & stay Update</h6>
                              <input type="text" class="form-control">
                          </div>
                          <div>
                              <p>Return Within 7 Days Of receiving your</p>
                          </div>
                      </div>
                 </div>
                 <div class="col-md-3 col-12 sub_footer">
                     <h5><u>SHOP BY CATEGORY</u></h5>
                      <ul>
                          <li><a href="javascript:;">Women</a></li>
                          <li><a href="javascript:;">Men</a></li>
                          <li><a href="javascript:;">Kids</a></li>
                          <li><a href="javascript:;">Beauty</a></li>
                          <li><a href="javascript:;">Watches</a></li>
                          <li><a href="javascript:;">Sunglasses</a></li>
                          <li><a href="javascript:;">Footwear</a></li>
                      </ul>
                 </div>
                 <div class="col-md-3 col-12 sub_footer">
                     <h5><u>CONTACT INFO</u></h5>
                     <div class="contact_wrapper">
                         <div class="contact_info">
                             <h6>Address</h6>
                             <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                         </div>
                    
                         <div class="contact_info">
                             <h6>Mail</h6>
                             <p>Feonix@Example.com</p>
                         </div>
                    
                         <div class="contact_info">
                             <h6>Phone</h6>
                             <p>+91 9876543210</p>
                         </div>
                     </div>
                 </div>
                 <div class="col-md-3 col-12 sub_footer">
                  <h5><u>SHOP BY CATEGORY</u></h5>
                  <ul>
                      <li><a href="javascript:;">About Us</a></li>
                      <li><a href="javascript:;">Terms & Conditions</a></li>
                      <li><a href="javascript:;">Privacy Policy</a></li>
                      <li><a href="javascript:;">Returns</a></li>
                      <li><a href="javascript:;">Tracking</a></li>
                      <li><a href="javascript:;">Affiliate Program</a></li>
                      <li><a href="javascript:;">Blog</a></li>
                      <li><a href="javascript:;">Be a Seller</a></li>
                  </ul>
                 </div>
             </div>
             <div class="text-center">
                <p style="margin-bottom: 10px;">&copy;2021</p> 
                <h6 style="margin-bottom: 10px;">CONNECT WITH US</h6>
                <div class="social_media">
                    <a href="#">
                         <span class="fab fa-facebook-square"></span>
                    </a>
                    <a href="#">
                         <span class="fab fa-instagram"></span>
                    </a>
                    <a href="#">
                         <span class="fab fa-twitter"></span>
                    </a>
                </div>
             </div>
         </div>     
     </footer>



   </main>

</body>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
   crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
   integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
   integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
   integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</html>